In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn import preprocessing

In [2]:
sample = pd.read_excel('Shopping Survey.xlsx')

In [3]:
sample.head()

,Name,Gender,Age,Location,Neighborhood level,For how long do you have your loyalty card (in months)?,What's your loyalty card status?,How many days do you shop per month?
0,Ana Frias,0,32,Lisbon center,B,0,2,16
1,Ana Horta,0,31,Center region,C,0,2,5
2,Beatriz Renault,0,33,Lisbon center,B,12,3,6
3,Carlos Madriz,1,28,Lisbon center,B,0,3,16
4,Cristina Zappullo,0,35,Lisbon center,C,0,3,3

In [4]:
le = preprocessing.LabelEncoder()
sample['Location'] = le.fit_transform(sample['Location'])

In [5]:
le = preprocessing.LabelEncoder()
sample['Neighborhood level'] = le.fit_transform(sample['Neighborhood level'])

In [7]:
sample.head()

,Name,Gender,Age,Location,Neighborhood level,For how long do you have your loyalty card (in months)?,What's your loyalty card status?,How many days do you shop per month?
0,Ana Frias,0,32,1,1,0,2,16
1,Ana Horta,0,31,0,2,0,2,5
2,Beatriz Renault,0,33,1,1,12,3,6
3,Carlos Madriz,1,28,1,1,0,3,16
4,Cristina Zappullo,0,35,1,2,0,3,3

In [8]:
sample.to_csv('sample.csv')